In [1]:
print(range(0,20))

range(0, 20)

In [2]:
#print 0 to 20 by using range
for num in range(0, 20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
#print range 10 to 20
for num in range(10, 20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [8]:
#print number of items in the list by using 'len'
list2=[10,20,14,55,43,87,76]
print("Number of items in the list2:")
print(len(list2))

Number of items in the list2:
7

In [15]:
ai= "Artificial Intelligence"

for text in ai:
    print(text)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [17]:
name=str(input("-your name-"))
age=int(input("-your Age-"))
profession=str(input("-your profession-"))

-your name- Gopal k
-your Age- 29
-your profession- TMF Specialist I I

In [18]:
#Printing mixed data type using tuples
tup = ( 1, "Welcome", 2, "Hope")
print(tup)

(1, 'Welcome', 2, 'Hope')

In [21]:
Tuple1 = (0,1,2,3)
Tuple2 = ("Python", "Hope")
Tuple3 = (Tuple1)+(Tuple2)
print(Tuple3)

(0, 1, 2, 3, 'Python', 'Hope')

In [24]:
tup1=(0, 1, 2, 3 )
tup2 = (tup1, ("Python", "Hope"))
print(tup2)

((0, 1, 2, 3), ('Python', 'Hope'))

In [25]:
#Print odd numbers in the list
t = (20, 10, 16, 19, 25, 1, 276, 188)

for i in t:
    if i%2 !=0:
        print( i, " is odd")

19  is odd
25  is odd
1  is odd

In [26]:
#print evem numbers in the list
a=(20, 10, 16, 19, 25, 1, 276, 188)

for i in t:
    if i%2 == 0:
        print(i, "is even")

20 is even
10 is even
16 is even
276 is even
188 is even