In [2]:
#1.What is wrong with the following function definition, and how do you fix it?

# 1: is missing, add the return statement with function name and call the function with respective arguments
def say_hello(name):
    print("Hello, " + name)
    return say_hello

say_hello("Gopal")

Hello, Gopal

In [4]:
#2.What error will occur in the following code, and how do you fix it?

#remove the symbol + instaed of that add comma 
age = 25
print("I am " , age ,  " years old")

I am  25  years old

In [12]:
#3.Question:
What is the issue with the following code?

#variabel not declared in first line of function, return function not mentioned, 
def greet(greet):
    message = "Hello"
    return greet
greet("hello")

Object `code` not found.

'hello'

In [16]:
#4.What error will occur in the following code, and how do you fix it?

#only one argument is available instead of 2 arguments

def add(a, b):
    return a + b

print(add(5, 3))

8

In [22]:
#5.What is wrong with this code?

#code tried with 2 input one is 2 and another one is 2 for 2 its shows false, for input 3 it shows true, hence code is correct
# explanation 2%2 = 0 which is not equal to 1 hence false is the result
#for input 3, 3%2 = 1... which is equalto 1 hence true is the result

def is_even(n):
    if n % 2 == 1:
        return True
    else:
        return False

is_even(3)

True

In [26]:
#6.What happens when you run this code?

num = int("10a")
print(num)

#10a is not integer, hecne numeric error will appear

ValueError: invalid literal for int() with base 10: '10a'

In [29]:
7.What will happen when you run the following code?

numbers = [1, 2, 3, 4]
numbers.reverse()
print(numbers)

#sort is removed, only revers is used

#output could be [4, 3, 2, 1]

Object `code` not found.
[4, 3, 2, 1]

In [43]:
#8.What is the issue with this code?

#in output number 4 will be added into list

numbers = [1, 2, 3]
numbers = numbers.append(4)
print(numbers)

None

In [48]:
#9.What will happen when you run the following code?

#Add the vairiable and call the function with argumentss

count = 10

def increment(count):
    count += 1
    print(count)

increment(10)

11

In [53]:
#10.What error will occur in the following code?

# only 5 index ar there so error will appear for shortage of index
text = "Python"
print(text[5])

n