In [3]:
#1.Find the error in the following Python code:

# change the Math into math


import math
print(math.sqrt(16))

4.0

In [5]:
#2.Find the error in the following Python code:

#Change the x+=5 into x==5

def my_function():
    x == 5
    print(x)

x = 10
my_function()

10

In [7]:
#3.x = 5

# add one more = 
if x == 10:
    print("x is 10")

x is 10

In [11]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort()
print (numbers)

[2, 3, 5, 8]

In [25]:
#5
def square(n):
    return n*n
print(square(4))

16

In [12]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

TypeError: 'tuple' object does not support item assignment

In [26]:
#7.
#add the respective variable in print statement
name = "Alice"
age = 25

print("My name is", name, "and I am", age, "years old")

My name is Alice and I am 25 years old

In [29]:
#8.

#add equal sign remoe is
a = [1, 2, 3]
b = [1, 2, 3]
if a==b:
    print("Lists are equal")

Lists are equal

In [32]:
#9.
#changed the start stop 
for i in range(1, 5):
    print(i)

1
2
3
4

In [33]:
#10.
student = {"name": "John", "age": 20}
print(student[name])

KeyError: 'Alice'